core-toolbar.medium-tall
    paper-menu-button
        paper-icon-button(icon="menu", noink)
        paper-dropdown.dropdown
            core-menu.menu
                paper-item Pré-configuration
    div(flex) Analyz
    div(center horizontal layout)
        paper-toggle-button(checked)
        div(flex) Mode avancé
    paper-menu-button
        paper-icon-button(icon="more-vert", noink)
        paper-dropdown.dropdown
            core-menu.menu
                paper-item Pré-configuration
                paper-item Pré-configuration
                paper-item Pré-configuration
    div.bottom.fit(horizontal, layout)
        paper-tabs#tabs(selected="all", flex)
            paper-tab(name="all") Nouvelle analyse
            paper-tab(name="favorites") Audit
            paper-tab(name="history") Historique
