// imports
@import "kouto-swiss"

// resets
meyer-reset()
box-sizing-reset()

*
    -webkit-font-smoothing antialiased

html
    height 100%
    font normal 62.5% font-stack( "Verdana" )
    color black
