extends layout/_layout

block links
    link(rel="import", href="components/core-drag-drop/core-drag-drop.html")
    link(rel="import", href="components/core-icons/core-icons.html")

block side
    core-drag-drop
    paper-shadow.card(z=1, draggable="true") Validation W3C
        core-icon(icon="reorder")
    paper-shadow.card(z=1, draggable="true") Analyse Syntaxique
        core-icon(icon="reorder")
    paper-shadow.card(z=1, draggable="true") Plan du document
        core-icon(icon="reorder")
    paper-shadow.card(z=1, draggable="true") Rapport sur les feuilles de styles
        core-icon(icon="reorder")
    paper-shadow.card(z=1, draggable="true") Microdatas & microformats
        core-icon(icon="reorder")
    paper-shadow.card(z=1, draggable="true") Attributs ARIA
        core-icon(icon="reorder")
    paper-shadow.card(z=1, draggable="true") Contraste
        core-icon(icon="reorder")

block content
    p.center Faites glissers les fichiers/dossiers à analyser et les analyes à effectuer.

block scripts
    script(type="text/javascript").
        addEventListener ( 'drag-start', function ( e ) {
            var dragInfo = e.detail;
            console.log ( dragInfo );
        } );
