/**
 *
 * Material design colors
 *
 */

$red:         #F44336;
$pink:        #E91E63;
$purple:      #9C27B0;
$deep-purple: #673AB7;
$indigo:      #3F51B5;
$blue:        #2196F3;
$light-blue:  #03A9F4;
$cyan:        #00BCD4;
$teal:        #009688;
$green:       #4CAF50;
$light-green: #8BC34A;
$lime:        #CDDC39;
$yellow:      #FFEB3B;
$amber:       #FFC107;
$orange:      #FF9800;
$deep-orange: #FF5722;
$brown:       #795548;
$grey:        #9E9E9E;
$blue-grey:   #607D8B;
$white:       #fff;

$material_colors: (
  'red': $red,
  'pink': $pink,
  'purple': $purple,
  'deep-purple': $deep-purple,
  'indigo': $indigo,
  'blue': $blue,
  'light-blue': $light-blue,
  'cyan': $cyan,
  'teal': $teal,
  'green': $green,
  'light-green': $light-green,
  'lime': $lime,
  'yellow': $yellow,
  'amber': $amber,
  'orange': $orange,
  'deep-orange': $deep-orange,
  'brown': $brown,
  'grey': $grey,
  'blue-grey': $blue-grey
);

@each $name, $color in $material_colors {
  .bg--#{$name} { background-color: $color }
}

$primary_color: $teal;
$accent_color: $red;
