@import 'colors';

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

core-toolbar {
  position: relative;
  color: #FAFAFA;
  background-color: $primary_color;
  z-index: 0;
}

drawer-boxes {
  position: relative;
  z-index: 1;
}
