@import 'colors';

.hide {
  display: none;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

core-toolbar {
  position: relative;
  color: #FAFAFA;
  background-color: $primary_color;
  z-index: 0;

  paper-tabs::shadow #selectionBar {
    background-color: $accent_color;
  }
}

core-drawer-panel {
  position: relative;
  [drawer] {
    background-color: #fff;
  }
}

drawer-boxes {
  position: relative;
  z-index: 1;
}
